# Preprocessing

Voici les colonnes gardées pour la fin de la préparation des données :

- `price`: moyenne entre le `high` et `low` de chaque ligne
- `volume`: donnée de volume du dataset de base
- `trend`: évolution du cours entre maintenant et t-5h
- `quadratic_variation`: cette colonne représente la variation quadratique du cours de l'action au cours des 20 dernières minutes. Elle est calculé en se basant sur les high et low de chaque minute

import packages

In [72]:
import pandas as pd
import numpy as np

# Import data

In [73]:
path = "data/BTCUSDT-minutes.csv"
data = pd.read_csv(path)

In [82]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 57601 entries, 2023-02-01 00:00:00 to 2023-03-13 00:00:00
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  57601 non-null  datetime64[ns]
 1   open       57601 non-null  float64
 2   high       57601 non-null  float64
 3   low        57601 non-null  float64
 4   close      57601 non-null  float64
 5   volume     57601 non-null  float64
 6   price      57601 non-null  float64
 7   value_var  57601 non-null  float64
dtypes: datetime64[ns](1), float64(7)
memory usage: 4.0+ MB

In [81]:
data['timestamp'] = pd.to_datetime(data['timestamp'])

In [75]:
data.head(5)

             timestamp      open      high       low     close     volume
0  2023-02-01 00:00:00  23125.13  23140.47  23124.41  23133.74  199.09155
1  2023-02-01 00:01:00  23133.74  23137.00  23123.15  23123.24  153.92866
2  2023-02-01 00:02:00  23123.16  23145.99  23123.01  23142.98  204.22769
3  2023-02-01 00:03:00  23144.00  23168.90  23141.75  23157.56  385.73800
4  2023-02-01 00:04:00  23158.68  23159.26  23131.97  23133.11  209.27799

# Data Engineering

In [93]:
data["price"] = (data["high"] + data["low"])/2
data.set_index('timestamp', inplace=True, drop=False)
data.head(5)

,timestamp,open,high,low,close,volume,price,value_var,quadratic_variation
timestamp,,,,,,,,,
2023-02-01 00:00:00,2023-02-01 00:00:00,23125.13,23140.47,23124.41,23133.74,199.09155,23132.440,257.9236,257.923600
2023-02-01 00:01:00,2023-02-01 00:01:00,23133.74,23137.00,23123.15,23123.24,153.92866,23130.075,191.8225,224.873050
2023-02-01 00:02:00,2023-02-01 00:02:00,23123.16,23145.99,23123.01,23142.98,204.22769,23134.500,528.0804,325.942167
2023-02-01 00:03:00,2023-02-01 00:03:00,23144.00,23168.90,23141.75,23157.56,385.73800,23155.325,737.1225,428.737250
2023-02-01 00:04:00,2023-02-01 00:04:00,23158.68,23159.26,23131.97,23133.11,209.27799,23145.615,744.7441,491.938620

In [102]:
# Calcul de l'écart au carré max chaque minute
data["value_var"] = (data["high"] - data["low"])**2
# Réalisation d'une moyenne pour obtenir la variance et ainsi la valeur souhaitée
data["quadratic_variation"] = data["value_var"].rolling("20min", center=False).mean()

In [103]:
data["trend"] =  (data['price'] - data['price'].shift(300))/data['price']

In [104]:
data.columns

Index(['timestamp', 'open', 'high', 'low', 'close', 'volume', 'price',
       'value_var', 'quadratic_variation', 'trend'],
      dtype='object')

In [106]:
column_to_keep = ['timestamp','volume', 'price', 'quadratic_variation', 'trend']
data = data[column_to_keep]
data

,timestamp,volume,price,quadratic_variation,trend
timestamp,,,,,
2023-02-01 00:00:00,2023-02-01 00:00:00,199.09155,23132.440,257.923600,NaN
2023-02-01 00:01:00,2023-02-01 00:01:00,153.92866,23130.075,224.873050,NaN
2023-02-01 00:02:00,2023-02-01 00:02:00,204.22769,23134.500,325.942167,NaN
2023-02-01 00:03:00,2023-02-01 00:03:00,385.73800,23155.325,428.737250,NaN
2023-02-01 00:04:00,2023-02-01 00:04:00,209.27799,23145.615,491.938620,NaN
...,...,...,...,...,...
2023-03-12 23:56:00,2023-03-12 23:56:00,703.64043,22010.200,6709.428905,0.039253
2023-03-12 23:57:00,2023-03-12 23:57:00,615.34747,22019.410,6697.022120,0.039102
2023-03-12 23:58:00,2023-03-12 23:58:00,538.69132,22002.065,6727.026920,0.038486
2023-03-12 23:59:00,2023-03-12 23:59:00,460.53719,21988.060,6722.058495,0.040099
2023-03-13 00:00:00,2023-03-13 00:00:00,1375.92258,22042.000,7404.059850,0.043017

# Exportation en csv

In [107]:
data.to_csv('btc_clean.csv', index=False)